# Instantiating corpora and corpus class

In [1]:
# import ekorpkit.ekonf as eKonf
from ekorpkit import eKonf
from pprint import pprint

## Instantiating corpora with an ekorpkit config

In [2]:
cfg = eKonf.compose(config_group='corpus')
print('Config type:', type(cfg))

cfg['name'] = ['bok_minutes', 'esg_report']
cfg['data_dir'] = '/workspace/data/datasets/corpus/ekorpkit'
pprint(cfg)
crps = eKonf.instantiate(cfg)

Config type: <class 'dict'>
{'_target_': 'ekorpkit.corpora.loader.Corpora',
 'autoload': True,
 'column_info': {'data': None,
                 'keys': None,
                 'meta': None,
                 'timestamp': {'format': None, 'key': None, 'params': None}},
 'data_dir': '/workspace/data/datasets/corpus/ekorpkit',
 'filetype': None,
 'metadata_dir': None,
 'name': ['bok_minutes', 'esg_report'],
 'segment_separator': '\\n\\n',
 'sentence_separator': '\\n',
 'use_name_as_subdir': True,
 'verbose': False}
processing bok_minutes

Processing [1] files from [['bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/bok_minutes-train.parquet

Processing [1] files from [['meta-bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/meta-bok_minutes-train.parquet
processing esg_report

Processing [1] files from [['esg_report-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/esg_report/esg_report-train.parquet

Processing [1] files from [['meta-esg_report-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/esg_report/meta-esg_report-train.parquet

 >>> Elapsed time: 0:00:00.338031 <<<

In [3]:
crps['bok_minutes'].data

      id                                               text
0      0  Economic Situation\n일부 위원은 반도체시장의 재고조정 지속으로 반도...
1      1  Economic Situation\n일부 위원은 소비회복의 시기와 폭을 가늠하기 위...
2      2  Economic Situation\n일부 위원은 지난해 풍작에 따른 효과와 금년초 ...
3      3  Economic Situation\n일부 위원은 최근 소비재판매액 증가세가 다소 둔...
4      4  Economic Situation\n일부 위원은 최근 이란의 새 대통령 취임 이후 ...
..   ...                                                ...
158  158  Economic Situation\n일부 위원은 최근의 경제흐름을 보면 지난 전망시...
159  159  Economic Situation\n일부 위원은 최근 코로나19가 빠르게 재확산되면...
160  160  Economic Situation\n일부 위원은 이번 전망에서 가장 중요한 이슈는 ...
161  161  Economic Situation\n일부 위원은 올해 국내경제는 생산차질 등으로 상...
162  162  Economic Situation\n일부 위원은 이번 전망에서 올해 소비자물가 상승...

[163 rows x 2 columns]

In [4]:
print(crps)

Corpora
----------
bok_minutes
esg_report

In [5]:
crps.concat_corpora()

In [6]:
crps.data

          id                                               text       corpus
0          0  Economic Situation\n일부 위원은 반도체시장의 재고조정 지속으로 반도...  bok_minutes
1          1  Economic Situation\n일부 위원은 소비회복의 시기와 폭을 가늠하기 위...  bok_minutes
2          2  Economic Situation\n일부 위원은 지난해 풍작에 따른 효과와 금년초 ...  bok_minutes
3          3  Economic Situation\n일부 위원은 최근 소비재판매액 증가세가 다소 둔...  bok_minutes
4          4  Economic Situation\n일부 위원은 최근 이란의 새 대통령 취임 이후 ...  bok_minutes
...      ...                                                ...          ...
15719  15581  이 연구는 G8개국 20개국의 대형 금융기관들의 데이터를 이용하여 2007년부터 2...   esg_report
15720  15582  본 연구는 금융위기 전과 금융위기 동안에 이사회가 리스크 관리에 실패한 이유에 대해...   esg_report
15721  15583  본 연구는 외국인 기관투자가의 지분 변동 공시가 기업지배구조와 주가에 미치는 영향을...   esg_report
15722  15584  Modigliani and Miller(1958)의 자본조달 결정과 투자 결정의 무...   esg_report
15723  15585  우리나라는 관련 법령들은 특수관계인과의 거래에 대하여 이사회 승인과 공시를 요구할 ...   esg_report

[15724 rows x 3 columns]

In [8]:
crps.metadata

,id,mdate,rdate,filename,corpus,doc_id
0,0,2005-03-10 10:00:00,2005-05-13 16:00:00,BOK_20050310_20050513,bok_minutes,NaN
1,1,2005-04-07 10:00:00,2005-05-24 16:00:00,BOK_20050407_20050524,bok_minutes,NaN
2,2,2005-05-12 10:00:00,2005-06-28 16:00:00,BOK_20050512_20050628,bok_minutes,NaN
3,3,2005-06-09 10:00:00,2005-07-26 16:00:00,BOK_20050609_20050726,bok_minutes,NaN
4,4,2005-07-07 10:00:00,2005-08-23 16:00:00,BOK_20050707_20050823,bok_minutes,NaN
...,...,...,...,...,...,...
15744,15581,NaN,NaN,CGS_REVIEW-201111000,esg_report,esg_004220_0095
15745,15582,NaN,NaN,CGS_REVIEW-201111000,esg_report,esg_004220_0096
15746,15583,NaN,NaN,CGS_REVIEW-201111000,esg_report,esg_004220_0097
15747,15584,NaN,NaN,CGS_REVIEW-201111000,esg_report,esg_004220_0098
15748,15585,NaN,NaN,CGS_REVIEW-201111000,esg_report,esg_004220_0099

## Instantiating a corpus with an ekorpkit config

In [9]:
cfg = eKonf.compose(config_group='corpus=corpus')
print('Config type:', type(cfg))

cfg['name'] = 'bok_minutes'
cfg['data_dir'] = '/workspace/data/datasets/corpus/ekorpkit/bok_minutes'
pprint(cfg)
crps = eKonf.instantiate(cfg)

Config type: <class 'dict'>
{'_target_': 'ekorpkit.corpora.corpus.Corpus',
 'autoload': True,
 'column_info': {'data': None,
                 'keys': None,
                 'meta': None,
                 'timestamp': {'format': None, 'key': None, 'params': None}},
 'data_dir': '/workspace/data/datasets/corpus/ekorpkit/bok_minutes',
 'filetype': None,
 'metadata_dir': None,
 'name': 'bok_minutes',
 'segment_separator': '\\n\\n',
 'sentence_separator': '\\n',
 'use_name_as_subdir': True,
 'verbose': False}

Processing [1] files from [['bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/bok_minutes-train.parquet

Processing [1] files from [['meta-bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/meta-bok_minutes-train.parquet

In [10]:
crps.data

      id                                               text
0      0  Economic Situation\n일부 위원은 반도체시장의 재고조정 지속으로 반도...
1      1  Economic Situation\n일부 위원은 소비회복의 시기와 폭을 가늠하기 위...
2      2  Economic Situation\n일부 위원은 지난해 풍작에 따른 효과와 금년초 ...
3      3  Economic Situation\n일부 위원은 최근 소비재판매액 증가세가 다소 둔...
4      4  Economic Situation\n일부 위원은 최근 이란의 새 대통령 취임 이후 ...
..   ...                                                ...
158  158  Economic Situation\n일부 위원은 최근의 경제흐름을 보면 지난 전망시...
159  159  Economic Situation\n일부 위원은 최근 코로나19가 빠르게 재확산되면...
160  160  Economic Situation\n일부 위원은 이번 전망에서 가장 중요한 이슈는 ...
161  161  Economic Situation\n일부 위원은 올해 국내경제는 생산차질 등으로 상...
162  162  Economic Situation\n일부 위원은 이번 전망에서 올해 소비자물가 상승...

[163 rows x 2 columns]

In [11]:
crps.metadata

      id                mdate                rdate               filename
0      0  2005-03-10 10:00:00  2005-05-13 16:00:00  BOK_20050310_20050513
1      1  2005-04-07 10:00:00  2005-05-24 16:00:00  BOK_20050407_20050524
2      2  2005-05-12 10:00:00  2005-06-28 16:00:00  BOK_20050512_20050628
3      3  2005-06-09 10:00:00  2005-07-26 16:00:00  BOK_20050609_20050726
4      4  2005-07-07 10:00:00  2005-08-23 16:00:00  BOK_20050707_20050823
..   ...                  ...                  ...                    ...
158  158  2021-04-15 10:00:00  2021-05-04 16:00:00  BOK_20210415_20210504
159  159  2021-07-15 10:00:00  2021-08-03 16:00:00  BOK_20210715_20210803
160  160  2021-08-26 10:00:00  2021-09-14 16:00:00  BOK_20210826_20210914
161  161  2021-10-12 10:00:00  2021-11-02 16:00:00  BOK_20211012_20211102
162  162  2021-11-25 10:00:00  2021-12-14 16:00:00  BOK_20211125_20211214

[163 rows x 4 columns]

In [12]:
print(crps.id_key, crps.id_keys, crps.text_key)

id ['id'] text