# Compose an ekorpkit config

In [1]:
# import ekorpkit.ekonf as eKonf
from ekorpkit import eKonf
from pprint import pprint

## Instantiating a corpus with an ekorpkit config

In [2]:
cfg = eKonf.compose(config_group='corpus')
print('Config type:', type(cfg))

cfg['name'] = 'bok_minutes'
cfg['data_dir'] = '/workspace/data/datasets/corpus/ekorpkit'
pprint(cfg)
crps = eKonf.instantiate(cfg)

Config type: <class 'dict'>
{'_target_': 'ekorpkit.corpora.loader.Corpora',
 'autoload': True,
 'column_info': {'data': None,
                 'keys': None,
                 'meta': None,
                 'timestamp': {'format': None, 'key': None, 'params': None}},
 'data_dir': '/workspace/data/datasets/corpus/ekorpkit',
 'filetype': None,
 'metadata_dir': None,
 'name': 'bok_minutes',
 'segment_separator': '\\n\\n',
 'sentence_separator': '\\n',
 'use_name_as_subdir': True,
 'verbose': False}
processing bok_minutes

Processing [1] files from [['bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/bok_minutes-train.parquet

Processing [1] files from [['meta-bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/meta-bok_minutes-train.parquet

 >>> Elapsed time: 0:00:00.116093 <<<

In [3]:
crps['bok_minutes'].data

      id                                               text
0      0  Economic Situation\n일부 위원은 반도체시장의 재고조정 지속으로 반도...
1      1  Economic Situation\n일부 위원은 소비회복의 시기와 폭을 가늠하기 위...
2      2  Economic Situation\n일부 위원은 지난해 풍작에 따른 효과와 금년초 ...
3      3  Economic Situation\n일부 위원은 최근 소비재판매액 증가세가 다소 둔...
4      4  Economic Situation\n일부 위원은 최근 이란의 새 대통령 취임 이후 ...
..   ...                                                ...
158  158  Economic Situation\n일부 위원은 최근의 경제흐름을 보면 지난 전망시...
159  159  Economic Situation\n일부 위원은 최근 코로나19가 빠르게 재확산되면...
160  160  Economic Situation\n일부 위원은 이번 전망에서 가장 중요한 이슈는 ...
161  161  Economic Situation\n일부 위원은 올해 국내경제는 생산차질 등으로 상...
162  162  Economic Situation\n일부 위원은 이번 전망에서 올해 소비자물가 상승...

[163 rows x 2 columns]

In [4]:
print(crps)

Corpora
----------
bok_minutes

In [5]:
cfg = eKonf.compose(config_group='corpus=corpus')
print('Config type:', type(cfg))

cfg['name'] = 'bok_minutes'
cfg['data_dir'] = '/workspace/data/datasets/corpus/ekorpkit/bok_minutes'
pprint(cfg)
crps = eKonf.instantiate(cfg)

Config type: <class 'dict'>
{'_target_': 'ekorpkit.corpora.corpus.Corpus',
 'autoload': True,
 'column_info': {'data': None,
                 'keys': None,
                 'meta': None,
                 'timestamp': {'format': None, 'key': None, 'params': None}},
 'data_dir': '/workspace/data/datasets/corpus/ekorpkit/bok_minutes',
 'filetype': None,
 'metadata_dir': None,
 'name': 'bok_minutes',
 'segment_separator': '\\n\\n',
 'sentence_separator': '\\n',
 'use_name_as_subdir': True,
 'verbose': False}

Processing [1] files from [['bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/bok_minutes-train.parquet

Processing [1] files from [['meta-bok_minutes-train.parquet']]
Loading data from /workspace/data/datasets/corpus/ekorpkit/bok_minutes/meta-bok_minutes-train.parquet

In [6]:
crps.data

      id                                               text
0      0  Economic Situation\n일부 위원은 반도체시장의 재고조정 지속으로 반도...
1      1  Economic Situation\n일부 위원은 소비회복의 시기와 폭을 가늠하기 위...
2      2  Economic Situation\n일부 위원은 지난해 풍작에 따른 효과와 금년초 ...
3      3  Economic Situation\n일부 위원은 최근 소비재판매액 증가세가 다소 둔...
4      4  Economic Situation\n일부 위원은 최근 이란의 새 대통령 취임 이후 ...
..   ...                                                ...
158  158  Economic Situation\n일부 위원은 최근의 경제흐름을 보면 지난 전망시...
159  159  Economic Situation\n일부 위원은 최근 코로나19가 빠르게 재확산되면...
160  160  Economic Situation\n일부 위원은 이번 전망에서 가장 중요한 이슈는 ...
161  161  Economic Situation\n일부 위원은 올해 국내경제는 생산차질 등으로 상...
162  162  Economic Situation\n일부 위원은 이번 전망에서 올해 소비자물가 상승...

[163 rows x 2 columns]

In [7]:
crps.metadata

      id                mdate                rdate               filename
0      0  2005-03-10 10:00:00  2005-05-13 16:00:00  BOK_20050310_20050513
1      1  2005-04-07 10:00:00  2005-05-24 16:00:00  BOK_20050407_20050524
2      2  2005-05-12 10:00:00  2005-06-28 16:00:00  BOK_20050512_20050628
3      3  2005-06-09 10:00:00  2005-07-26 16:00:00  BOK_20050609_20050726
4      4  2005-07-07 10:00:00  2005-08-23 16:00:00  BOK_20050707_20050823
..   ...                  ...                  ...                    ...
158  158  2021-04-15 10:00:00  2021-05-04 16:00:00  BOK_20210415_20210504
159  159  2021-07-15 10:00:00  2021-08-03 16:00:00  BOK_20210715_20210803
160  160  2021-08-26 10:00:00  2021-09-14 16:00:00  BOK_20210826_20210914
161  161  2021-10-12 10:00:00  2021-11-02 16:00:00  BOK_20211012_20211102
162  162  2021-11-25 10:00:00  2021-12-14 16:00:00  BOK_20211125_20211214

[163 rows x 4 columns]

In [8]:
print(crps.id_key, crps.id_keys, crps.text_key)

id ['id'] text